[run]
branch = True
source = .
omit =
    tests/*
    .venv/*
    venv/*
    .github/*

[report]
show_missing = True
skip_empty = True

exclude_lines =
    pragma: no cover
    if __name__ == "__main__":